<div class="flex justify-between gap-4 mb-4">
    <div class="flex items-center grow">
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input (input)="filterStringInput($event)" type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search guardian name...">
        </div>
    </div>

    <div class="flex">
        <div class="flex items-center mr-4" *ngFor="let class of classes">
            <input type="checkbox" [(ngModel)]="class.isSelected" checked id="inline-checkbox-{{class.id}}"  value="{{class.id}}" (change)="filterClassInput()" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="inline-checkbox-{{class.id}}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{class.value}}</label>
        </div>
    </div>
</div>
