<!--
<div class="row pt-5 text-center">
  <h1>Mirrorverse Teambuilder</h1>
</div>
<div class="row py-4">
<app-builder
  [selectedGuardians]="selectedGuardians">
</app-builder>
</div>

  <div class="row">
<app-guardian-list
  [guardianList]="guardianList"
  (sendToParent)="sendToParent($event)">
</app-guardian-list>
  </div> -->

<div class="grid grid-flow-row auto-rows-max">
  <div>
    <h1>Mirrorverse Teambuilder</h1>
  </div>
  <div>
    <app-builder
      [selectedGuardians]="selectedGuardians">
    </app-builder>
  </div>
  <div>
    <app-guardian-list
      [guardianList]="guardianList"
      (sendToParent)="sendToParent($event)">
    </app-guardian-list>
  </div>
</div>


